
<main role="main">
    <section class="my-4">
        <div class="container">
            <h2>Cadastro de Usuários</h2>
        </div>
    </section>
</main>

<section>
    <div class="container">
        <form method="post" #frm="ngForm" (ngSubmit)="criar(frm)">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome"
                    class="form-control" placeholder="Nome"
                    [(ngModel)]="cadastro.nome" required/>
            </div>

            <div class="form-group">
                <label for="emprego">Emprego</label>
                <input type="text" id="emprego" name="emprego"
                    class="form-control" placeholder="Emprego"
                    [(ngModel)]="cadastro.emprego" required/>
            </div>

            <button type="submit" class="btn btn-primary"[disabled]="frm.invalid">Cadastrar</button>
        </form>
    </div>
</section>