<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/charts']">
            <mat-icon class="sidenav-icon">person_add</mat-icon> {{ 'Cadastrar' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/tables']">
            <mat-icon class="sidenav-icon">group</mat-icon> {{ 'Listar' | translate }}
        </a>
        
    </mat-nav-list>
</div>
